#ul-hero:not(.browser-default) li {
    list-style-type: disc;
}

#aside:not(.browser-default) {
    background-color: #dce775;
    opacity: 75%;
    min-height: 100vh;
}

/* #ul-hero {
    list-style-type: square;
  } */