body {
    background: #7AD9E6;
    Font-Family: 'Raleway', sans-serif;
    Font-Size: 15px;
}

header {
    padding: 40px;
    text-align: center;
    background: #095761;
    color: #fff;
}

#page-title {
    padding-top: 20px;
    padding-bottom: 20px;
}

h1 {
    Font-Family: 'Raleway', Sans-Serif;
    Font-Size: 44px;
}

h2 {
    font-size: 15px;
}

nav {
    padding-right: 20px;
    display: flex;
    justify-content: right;
    background: #14C9E0;
    /* position: fixed; */
}

nav a {
    padding-left: 10px;
    padding-top:10px;
    padding-bottom: 10px;
}

nav a:hover {
    color:aqua;
}

#about-me {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    background: #14C9E0;
}

.hero ul {
    padding-left: 50px;
    padding-bottom: 20px;
    line-height: 1.5em;
}

.hero p {
    padding-top: 20px;
    padding-left: 30px;
}

#portfolio-examples {
    padding-left: 30px;
    padding-top: 20px;
    background: #14C9E0;
    padding-bottom: 20px;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    /* justify-content: ; */
    flex: 1 0 100%;
    padding: 10px;
    text-align: left;
    border-color: #095761;
    border-style: solid ;
    border-width: 10px;
    min-height: 300px;
    /* margin: 5px; */
}
  
.work-title {
    padding: 10px 0px 20px 20px;
    background: #095761;
    color:#095761;
    /* font-size: 20px; */
    display: flex;
    align-items: flex-end;
}

.work-title:hover {
    opacity: 0.75;
}

.work-title div {
    background-color: #14C9E0;
    padding:5px;
    color: #095761;
}

.image-splash {
    background-image: url('../images/splash-page.png');
    height: 100%;
}

.image-firstbc {
    background-image: url('../images/image-firstbc.png');
    height: 100%;
}

.image-u2mini {
    background-image: url('../images/u2mini.png');
    height: 100%;
}

.image-horiseon {
    background-image: url('../images/Horiseon.png');
    height: 100%;
}

.image-future {
    background-image: url('../images/future.jpg');
    height: 100%;
}

.card img {
    width: 100%;

}

footer {
    /* position: fixed; */
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    background: #14C9E0;
}

footer a {
    padding-top: 10px;
    padding-right: 10px;
}

/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 768px) {
/* on tablets, set columns to only be 50% of the width and not grow */
.card {
    flex: 1 0 50%;
    max-width: 50%;
}
}